.btn--theme-dark {
    @extend %button;
    color: var(--main-btn-color);
    background-color: transparent;
    border: 1px solid var(--accent-color);
    
    @include transition(background-color);
    animation: heartbeat 4500ms ease-in-out infinite both;

    &:hover, 
    &:focus {
        background-color: var(--accent-color);
    }
}
.btn--light-theme {
    @extend %button;
    color: var(--secondary-title-color);
    background-color: transparent;
    border: 1px solid var(--accent-color);

    @include transition(background-color, color);
    animation: heartbeat 4500ms ease-in-out infinite both;

    &:hover, 
    &:focus {
        color: var(--main-btn-color);
        background-color: var(--accent-color);
    }
}

