.swiper {
    width: 100%;

    @media screen and (min-width: 1200px) {
        width: 968px;
        height: 360px;
    } 
  }
.swiper-slide_img {
    margin: 0 auto;
    margin-bottom: 32px;
    border-radius: 50%;
}
.swiper-slide_wrapper {
    display: flex;
    align-items: center;
    background: #84A178;
    margin-bottom: 32px;
    border-radius: 10px;
    min-height: 260px;
    border-radius: 24px;
    padding: 0 39px;

    @media screen and (min-width: 768px) {
        min-height: 138px;
        border-radius: 24px;
        padding: 0 80px;
    } 
    @media screen and (min-width: 1200px) {
        padding: 0 72px;
    } 
}
.swiper-slide_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 255%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FCFCFC;

    @media screen and (min-width: 768px) {
        font-weight: 500;
        font-size: 16px;
        line-height: 186%;
        letter-spacing: 0.04em;
    } 
}
.swiper-slide_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    text-align: center;
    color: #131313;
}
.swiper-pagination-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #D9D9D9;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,9px);
}
.swiper-pagination-bullet-activ {
    background: #84A178;
}