.footer {
    @media screen and (max-width: 767px) {
      padding-top: 44px;
      padding-bottom: 44px;
    }
}
.footer-container {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.footer-list {
    display: flex;
    gap: 40px;

    @media screen and (max-width: 767.98px) {
    margin-left: auto;
    }
}
.footer-item {
    display: inline-flex;
    align-items: center;
}
.instagram-link::before {
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: var(--secondary-title-color);
}
.footer-copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--secondary-text-color);

    @media screen and (max-width: 767px) {
        margin-top: 20px;
      }
}
.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36px;
    letter-spacing: 0.2em;
    color: var(--secondary-title-color);

    @media screen and (min-width: 768px) {
        padding-top: 56px;
        padding-bottom: 56px;
      }
    
    @include transition(color);

    &:hover, 
    &:focus {
        color: var(--accent-color);
    }
}
