.header__contact {
    display: block;
    padding: 52px 0;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-title-color);
    
    @media screen and (max-width: 1199px) {
        display: none;
      }

    @include transition(color);

    &:hover, 
    &:focus {
    color: var(--accent-color);
}
    &:hover::after,
    &:focus::after  {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}
}

