.header__contact {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 52px;
    padding-bottom: 52px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-title-color);
    
    @include transition(color);

    &:hover, 
    &:focus {
    color: var(--accent-color);
}
    &:hover::after,
    &:focus::after  {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}
}

