@keyframes top-to-bottom {
    0% {
    opacity: 0;
    transform: translateY(-100px);
    }
    50% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}
@keyframes bottom-to-top {
    0% {
    opacity: 0;
    transform: translateY(150px);
    }
    50% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}
@keyframes left-to-right {
    0% {
    opacity: 0;
    transform: translateX(-250px);
    }
    50% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}
@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }