:root {
    --main-title-color: #FFFFFF;
    --secondary-title-color: #303030;
    --main-btn-color: #FFFFFF;
    --background-color: #E5E5E5;
    --accent-color: #FF6C00;
    --secondary-background-color: #191C26;
    --text-color: #555555;
    --secondary-text-color: #9DA4BD;
    --section-secondary-bcg-color: #F7F7F7;
    --section-text-opacity: rgba(157, 164, 189, 0.6);
    --indent: 30px;
    --items: 3;
}